body{
	color: #000000;
	font-family: Courier;
	font-size: 100%;
	margin: auto;
	text-align: center;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

hr {
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	max-width: 50%;
}

.navbar{
	background-color: #000000;
	text-align: center;
	overflow: hidden;
}

.navbar a{
	color: #FFFFFF;
}

.navbar p{
	color: #FFFFFF;
}

.meeellinks {
	color: #000000;
}

.meeellinks a{
	color: #000000;
}

#footer{
	position: absolute;
	bottom: 0;
	left: 0%;
	right: 0%;
	width: 100%;
	height: 5%;
	color: #FFFFFF;
	background-color: #000000;
}

