body {
	color: #eaeaea;
	background-color: #222222;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
	text-align: left;
}

a {
	color: #eaeaea;
}

.banner {
	text-align: center;
}

.nav {
     text-align: center;
}

.nav p {
       text-align: left;
}

@media all and (min-width:0px) and (max-width: 1024px) {
body {
        color: #eaeaea;
        background-color: #222222;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        text-align: center;
}
}
