body {
	color: #000000;
	background-color: ##fffee9;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
	text-align: left;
}

a {
	color: #000000
}

.banner {
	text-align: center;
}

.nav {
     text-align: center;
}

.nav p {
       text-align: left;
}
