body {
	color: #eaeaea;
	background-color: #222222;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
	text-align: left;
}

a {
	color: #eaeaea;
}

.banner {
	text-align: center;
}

.nav {
     text-align: center;
}

.nav p {
       text-align: left;
}
